// variables
$desktop-breakpoint: 768px;

$nav-bar-height: 12vh;
$nav-desktop-bar-height: 150px;

// mixins
@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: $desktop-breakpoint - 1) { @content; }
  }
  @if $point == desktop {
    @media (min-width: $desktop-breakpoint) { @content; }
  }
}

.container-fluid {
  padding: 0;
}

.container {
  height: auto;
  width: 100vw;
}

// nav-bar styling

.navbar {
  background: rgba(239,197,202,1);
  border-bottom: 1px solid #000;
  margin-bottom: 0;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .title {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
  }

  @include breakpoint(mobile) {
    height: $nav-bar-height;
  }

  @include breakpoint(desktop) {
    height: $nav-desktop-bar-height;
  }
}

// modal

.add-modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px; 
}

// map styling

.map-column {
  padding: 0;
}

#map-container {
  max-width: 100%;

  @include breakpoint(mobile) {
    height: 100vh - $nav-bar-height;
  }

  @include breakpoint(desktop) {
    height: calc(100% - $nav-desktop-bar-height);
  }
}

// map components

.post-button {
  background: red;
  padding: 10px;
  right: 0;  
  bottom: 0;
  position: absolute;
}
