// variables
$desktop-breakpoint: 768px;

$nav-bar-height: 12vh;
$nav-desktop-bar-height: 150px;

// mixins
@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: $desktop-breakpoint - 1) { @content; }
  }
  @if $point == desktop {
    @media (min-width: $desktop-breakpoint) { @content; }
  }
}

div#render-target {
  max-height: 100vh;
}

.container-fluid {
  padding: 0;
}

div.container {
  width: 100vw;
  height: auto;
}

// nav-bar styling

.navbar {
  background: rgba(239,197,202,1);
  background: -moz-linear-gradient(top, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,197,202,1)), color-stop(50%, rgba(210,75,90,1)), color-stop(51%, rgba(186,39,55,1)), color-stop(100%, rgba(241,142,153,1)));
  background: -webkit-linear-gradient(top, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
  background: -o-linear-gradient(top, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
  background: -ms-linear-gradient(top, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
  background: linear-gradient(to bottom, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=0 );

  border-bottom: 1px solid #000;
  margin-bottom: 0;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .title {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
  }

  @include breakpoint(mobile) {
    height: $nav-bar-height;
  }

  @include breakpoint(desktop) {
    height: $nav-desktop-bar-height;
  }
}

// map styling

#map-container {
  max-width: 100%;

  @include breakpoint(mobile) {
    height: 100vh - $nav-bar-height;
  }

  @include breakpoint(desktop) {
    height: calc(100% - $nav-desktop-bar-height);
  }
}

// map components

.post-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: red;
}
